<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaozheng.mapper.TJobsMapper">
  <resultMap id="BaseResultMap" type="com.zhaozheng.domain.TJobs">
    <!--@mbg.generated-->
    <!--@Table t_jobs-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="introduction" jdbcType="LONGVARCHAR" property="introduction" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="opflag" jdbcType="VARCHAR" property="opflag" />
    <result column="opdate" jdbcType="TIMESTAMP" property="opdate" />
    <result column="did" jdbcType="VARCHAR" property="did" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, introduction, cid, opflag, opdate, did
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from t_jobs
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from t_jobs
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhaozheng.domain.TJobs">
    <!--@mbg.generated-->
    insert into t_jobs (id, `name`, introduction, 
      cid, opflag, opdate, 
      did)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{introduction,jdbcType=LONGVARCHAR}, 
      #{cid,jdbcType=INTEGER}, #{opflag,jdbcType=VARCHAR}, #{opdate,jdbcType=TIMESTAMP}, 
      #{did,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhaozheng.domain.TJobs">
    <!--@mbg.generated-->
    <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
      select replace(uuid(),'-','')
    </selectKey>
    insert into t_jobs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="opflag != null">
        opflag,
      </if>
      <if test="opdate != null">
        opdate,
      </if>
      <if test="did != null">
        did,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="opflag != null">
        #{opflag,jdbcType=VARCHAR},
      </if>
      <if test="opdate != null">
        #{opdate,jdbcType=TIMESTAMP},
      </if>
      <if test="did != null">
        #{did,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhaozheng.domain.TJobs">
    <!--@mbg.generated-->
    update t_jobs
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="opflag != null">
        opflag = #{opflag,jdbcType=VARCHAR},
      </if>
      <if test="opdate != null">
        opdate = #{opdate,jdbcType=TIMESTAMP},
      </if>
      <if test="did != null">
        did = #{did,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhaozheng.domain.TJobs">
    <!--@mbg.generated-->
    update t_jobs
    set `name` = #{name,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=LONGVARCHAR},
      cid = #{cid,jdbcType=INTEGER},
      opflag = #{opflag,jdbcType=VARCHAR},
      opdate = #{opdate,jdbcType=TIMESTAMP},
      did = #{did,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
<!--auto generated by MybatisCodeHelper on 2021-04-20-->
  <select id="findByAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from t_jobs
    <where>
    <if test="id != null">
     and id=#{id,jdbcType=VARCHAR}</if>
    <if test="name != null">
     and `name`=#{name,jdbcType=VARCHAR}</if>
    <if test="introduction != null">
     and introduction=#{introduction,jdbcType=LONGVARCHAR}</if>
    <if test="cid != null">
     and cid=#{cid,jdbcType=INTEGER}</if>
    <if test="opflag != null">
     and opflag=#{opflag,jdbcType=VARCHAR}</if>
    <if test="opdate != null">
     and opdate=#{opdate,jdbcType=TIMESTAMP}</if>
    <if test="did != null">
     and did=#{did,jdbcType=VARCHAR}</if>
    </where>
  </select>
</mapper>